.skills-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 80px;
  padding: 100px 80px;
}

/* Título grande */
.skills-title {
  font-size: 64px;
  font-weight: 800;
  color: black;
  flex-shrink: 0;
}

/* Tarjeta rosada */
.skills-card {
  max-width: 600px;
  padding: 40px;
  background-color: #eee; /* rosado suave */
  border-radius: 30px;
  line-height: 1.6;
}
